.power {
    border: 1px solid #020202;
    background-color: #dedede;
    padding: 8px;

    * {
        font-family: monospace;
        font-size: 0.85rem;
    }
}

.load-bar {
    position: relative;
    max-width: 40rem;
    height: 20px;
    border: 1px solid #020202;
    margin-bottom: 4px;
}

.load-bar-inner {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    // use gradient in background color
    background: linear-gradient(to right, #0f0, #ff0, #f00);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// have another component covering the load, aligned to the end
.load-bar-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;

    // smooth
    transition: all 0.1s linear;
}

.node-container {
    display: flex;
    width: 100%;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.85rem;

    .node {
        margin-top: auto;
        margin-bottom: auto;
    }

    span.specs {
        margin-left: 8px;
        // center vertically with node div
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        vertical-align: super;
    }

    // the container for the upgrade buttons and labels
    .upgrade-container {
        display: flex;
        flex-direction: column;
        margin-left: auto;

        @media (max-width: 600px) {
            flex-direction: row;
        }
    }

    // the buttons to upgrade the equipment
    .upgrade {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
        vertical-align: top;

        span {
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            text-align: right;
            width: 3.5rem;
        }

        button {
            width: 7rem;
        }
    }
}

.node {
    display: inline-block;
    position: relative;
    height: 24px;
    width: 94px;
    border: 1px solid #020202;
    background-color: #999;

    .lines {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        border-top: 1px solid #020202;
        border-bottom: 1px solid #020202;
    }

    .led {
        position: absolute;
        top: 8px;
        left: 3px;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        border: 1px solid #111;
    }

    .led-ok {
        animation: led-blink-ok 0.5s step-start infinite;
    }

    .led-fail {
        animation: led-blink-problem 0.25s step-start infinite;
    }

    .led-powersave {
        animation: led-blink-powersave 0.75s step-start infinite;
    }
}

@keyframes led-blink-ok {
    0% {
        background-color: #0c0;
    }

    50% {
        background-color: #000;
    }

    100% {
        background-color: #0c0;
    }
}

@keyframes led-blink-problem {
    0% {
        background-color: #f00;
    }

    50% {
        background-color: #000;
    }

    100% {
        background-color: #f00;
    }
}

@keyframes led-blink-powersave {
    0% {
        background-color: #00f;
    }

    50% {
        background-color: #000;
    }

    100% {
        background-color: #00f;
    }
}

.rack {
    margin-top: 8px;
    padding: 2px;
    border: 1px solid #bbb;
}

.closed-rack {
    margin-top: 8px;
    border: 1px solid #111;
    background-color: #bbb;
    width: 108px;
    height: 128px;

    .closed-rack-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100px;

        margin: 4px 4px 2px 4px;
        border: 1px solid #111;
        background-color: #333;
    }
}

.equipment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 4px 4px 2px 4px;


    // the div containing the button to buy more things
    .buy {
        margin-top: 6px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding: 2px;
        flex-direction: column;
        align-items: center;

        span {
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;
            text-align: center;
            width: 3.5rem;
        }

        button {
            width: 5.5rem;
        }
    }
}

.datacenter-container {}

.datacenter-icon {
    position: relative;

    .datacenter-back {
        border: 1px solid #111;
        background-color: #ccc;
        border-radius: 100px 100px 0px 0px;
        position: absolute;
        width: 120px;
        height: 64px;
    }

    .datacenter-front {
        border: 1px solid #111;
        background-color: #ccc;
        border-radius: 100px 100px 0px 0px;
        position: absolute;
        width: 72px;
        height: 64px;
    }

    .datacenter-door {
        position: absolute;
        color: #111;
        width: 10px;
        height: 14px;
        bottom: 0px;
        left: 12px;
    }
}