@import 'card.scss';
@import 'fonts.scss';
@import 'power.scss';
@import 'service.scss';

* {
  box-sizing: border-box;
  font-family: 'PT Sans Regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #020202;
}

// set color variables
$color-primary: #02c9bf;
$color-bkg-secondary: #ffffff;
$color-bkg-primary: #9af9f4;

// set color variables for dark mode
$color-primary-dark: #02c9bf;
$color-bkg-secondary-dark: #000000;
$color-bkg-primary-dark: #4efff6;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: $color-bkg-secondary;

  @media (prefers-color-scheme: dark) {
    // maybe
  }
}

header {
  border-bottom: 2px solid #020202;
  display: flex;

  // give more room to first div for stats
  :first-child {
    min-width: 18rem;
  }

  div {
    margin-top: auto;
    flex-grow: 1;
  }
}

.panel-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  margin: 8px;
  min-width: 10rem;
  max-width: 30rem;

  h3 {
    border-bottom: 2px solid #020202;
  }
}

.business {
  width: 12rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

ul.stats {
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 8px;
  margin-top: auto;
  margin-bottom: 4px;

  .hidden {
    visibility: hidden;
  }
}

h1 {
  text-align: center;
}

h1+.subtitle {
  text-align: center;
  display: block;
  margin-top: -1em;
}